.container {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.drawer {
  flex-grow: 1;
}

.mapContainer {
  flex-grow: 5;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
