.positioned {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: gainsboro;
}

.app {
  height: 100vh;
}

.main {
  display: flex;
  height: 100%;
  align-items: stretch;
  flex-grow: 1;
}

.panel {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.viz {
  flex-grow: 1;
  background-color: gainsboro;
}

.chartspace {
  padding: 30px;
}

.rv-discrete-color-legend-item {
  color: white;
}
